/* Actividad.css */

.actividades-container {
  display: flex;
  min-height: 100%;
  background-color: #f06546;
  margin-left: 250px; /* espacio para el Navbar */
  width: calc(100vw - 250px); /* ocupa el resto */
  box-sizing: border-box;
}

.actividades-content {
  background: #ef6646;
  flex: 1;
  padding: 20px;
  width: 100%;
  height: 150vh;
}

/* Header */
.actividades-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.actividades-title {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
}

/* Búsqueda y filtros */
.actividades-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.actividades-search {
  flex: 1;
  margin-right: 20px;
}

.actividades-search .text-field {
  width: 100%;
}

.filters-right {
  display: flex;
  gap: 12px;
}

.filters-right select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  background: #ffffff;
  cursor: pointer;
}

/* Tabla */
.actividades-table {
  width: 100%;
  background: white;
  border-radius: 12px;
  overflow-x: scroll;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.table-header {
  background-color: #f3f4f6;
  font-weight: 600;
  color: #6b7280;
  text-align: left;
  padding: 16px;
}
.table-header th {
  text-align: center;
  vertical-align: middle;
}
.table-row {
  border-bottom: 1px solid #e5e7eb;
}

.table-cell {
  padding: 0px 8px;
  color: #374151;
}

/* Botones de acción */
.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.action-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.action-button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.date-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.date-field label {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 8px;
}

/* Inputs */
.date-field input {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  box-sizing: border-box;
  background: #fff;
}
