.text-field {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.text-field:focus {
    border-color: black;
}

.text-field.focused {
    border-color: black;
}
body, html, * {
    color-scheme: light;
}